#footer
{
    background-color:lightskyblue;
    /*position:fixed;*/
    /*bottom:0;*/
    /*left:0;*/
    /*right:0;*/
    /*height:125px;*/
    height: 13.5%;
    margin: 0 auto;
}

#degree_filter {
    height:75%;
    width:20%;
    float:left;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial";
    font-size:100%;
}

#degree_radio_button_container {
    /*width:250px;*/
    width:80%;
    margin: 0 auto;
    margin-top: 7%;
}

#reset_button {
    height:30%;
    width:30%;
    margin-top:15%;
    margin-left:5%;
    /*font-size:100%;*/
    background-color:#269abc;
}

#time_scale_bar {
    /*height:100px;*/
    height:100%;
    /*width: 750px;*/
    width:40%;
    float:left;
    /*margin: 0 auto;*/
}

#time_scale_years_text,
#time_scale_bar h5 {
    width: 250px;
    margin: 0 auto;
    text-align: center;
}

#time_scale_bar svg {
    padding-left: 25px;
    /*height:100px;*/
    height:100%;
    width: 100%;
    padding-left:10%;
}

#college_filter {
    height:100%;
    width:40%;
    float:left;
}

#college_filter_legend {
    /*height: 100px;*/
    height: 85%;
    /*width: 650px;*/
    width: 90%;
    margin: 0 auto;
}

#college_filter_legend svg {
    /*height:100px;*/
    height:100%;
    /*width:650px;*/
    width:100%;
}