#dashboard_container {
    width: 1060px;
    margin: 0 auto;
}

#dashboard_container path {  stroke: #fff; }
#dashboard_container path:hover {  opacity:0.9; }
#dashboard_container rect:hover {  fill:blue; }
#dashboard_container .axis {  font: 10px sans-serif; }
#dashboard_container .legend tr{    border-bottom:1px solid grey; }
#dashboard_container .legend tr:first-child{    border-top:1px solid grey; }

#dashboard_container .axis path,
#dashboard_container .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#dashboard_container .x.axis path {  display: none; }
#dashboard_container .legend{
    width:200px;
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
#dashboard_container .legend td{
    padding:4px 5px;
    vertical-align:bottom;
}
#dashboard_container .legendFreq, .legendPerc{
    align:right;
    width:50px;
}