#salary_employment_rates_section {
    width:75%;
    /*height: 700px;*/
    height: 80%;
    margin: 0 auto;
    margin-top: 6%;

    /*padding-top: 1%;*/
}

.section_title_header {
    width:100%;
    height:5%;
    font-size:100%;
    font-weight:bold;
    text-decoration: underline;
    margin: 0;
    display:inline-block;
}

/*
    for salary & employment rate scatter plot
                                                */
#salary_employment_container {
    /*width: 49%;*/
    width: 45%; /* 50% - 45% = 5% goes towards #horizontal_spacer
    /*height: 700px;*/
    height: 100%;
    /*margin-right: 1%;*/
    /*margin: 0 auto;*/
    float:left;
}

#scatter_plot_container {
    width: 100%;
    /*height: 350px;*/
    height: 45%; /* 50% - 45% = 5% goes towards #section_title_header*/
    margin: 0 auto;
}

#scatter_plot_container svg {
    padding-left: 25px;
}

/* Format X and Y Axis */
#scatter_plot_container .axis path,
#scatter_plot_container .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

#scatter_plot_container .axis text {
    font-family: "Arial";
    font-size: 14px;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

    /** Stacked bar chart **/
#stacked_bar_chart_container {
    width:100%;
    height:45%; /* 50% - 45% = 5% goes towards #section_title_header */

    position: relative;

    font-family: "Arial";
}

#stacked_bar_chart_container svg {
    padding-left: 2%;
}

/*#stacked_bar_chart_container .axis path,*/
/*#stacked_bar_chart_container .axis line {*/
    /*fill: none;*/
    /*stroke: #000;*/
    /*shape-rendering: crispEdges;*/
/*}*/

/*
    Padding div in between
*/
#horizontal_spacer {
    width:10%;
    height:100%;
    float:left;
}

/*
    for time series and tree map vizs
                                        */
#timeseries_treemap_container {
    /*width:49%;*/
    width:45%;
    /*height:700px;*/
    height:100%;
    /*margin-left: 1%;*/
    /*margin: 0 auto;*/
    float:left;

    font-family: "Arial";
}
    /** Time series **/
#time_series_container {
    /*width: 1100px;*/
    width:100%;
    /*height: 350px; *//*300px;*/
    height: 45%; /* 50% - 45% = 5% goes towards #section_title_header*/
    /*margin: 0 auto;*/
    /*padding-left: 25px;*/
    display: inline-block;
    /*float:left;*/
}

#time_series_container svg {
    width: 100%; /*1000px;*/
    /*display: block;*/
    /*margin: 0 auto;*/
}

    /** Tree map **/
#treemap_plus {
    width:100%;
    /*height:50%;*/
    /*height: 400px;*/
    height:45%; /* 50% - 45% = 5% goes towards #section_title_header*/
}

#treemap_plus_container {
    /*width:100%;*/
    /*height:100%;*/
    /*height: 350px;*/
    /*height: 50%;*/
}