#scatter_plot_container {
    width: 1900px;
    margin: 0 auto;
}

#scatter_plot_container svg {
    padding-left: 25px;
    /*padding-right: 30px;*/
    width: 1800px;
    height: 550px;
}

/* Format X and Y Axis */
#scatter_plot_container .axis path,
#scatter_plot_container .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

#scatter_plot_container .axis text {
    font-family: sans-serif;
    font-size: 11px;
}