#time_series_container {
    /*width: 1100px;*/
    width:100%;
    height: 300px;
    margin: 0 auto;
    padding-left: 25px;
    display: inline-block;
    /*float:left;*/
}

#time_series_container svg {
    width: 1000px;
    /*display: block;*/
    /*margin: 0 auto;*/
}

#time_series_container .axis path,
#time_series_container .axis line,
#time_series_container .axis1 path,
#time_series_container .axis1 line {
    fill: none;
    stroke: #E6E7E8;
    shape-rendering: crispEdges;
}

#time_series_container .x.axis path, .x.axis1 path {
    display: none;
}

#time_series_container .line {
    fill: none;
    stroke-width: 1.5px;
}

#time_series_container .legend-box {
    cursor: pointer;
}

#time_series_container #mouse-tracker {
    stroke: #E6E7E8;
    stroke-width: 1px;
}

#time_series_container .hover-line {
    stroke: #E6E7E8;
    fill: none;
    stroke-width: 1px;
    left: 10px;
    shape-rendering: crispEdges;
    opacity: 1e-6;
}

#time_series_container .hover-text {
    stroke: none;
    font-size: 30px;
    font-weight: bold;
    fill: #000000;
}

#time_series_container .tooltip {
    font-weight: normal;
}

#time_series_container .brush .extent {
    stroke: #FFF;
    shape-rendering: crispEdges;
}