#footer
{
    background-color:lightskyblue;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:150px;
    /*margin-bottom:0px;*/
    margin: 0 auto;
}

#time_scale_bar {
    height:100px;
    width: 750px;
    margin: 0 auto;
}

#time_scale_bar svg {
    padding-left: 50px;
    width: 750px;
}

#college_filter_legend {
    height: 25px;
    width: 750px;
    margin: 0 auto;
}