#treemap_plus {
    width:700px;
    height:600px;
    display:inline-block;
}

#treemap_plus_container {
    width:700px;
    height:500px;
    display: inline-block;
    margin: 0 auto;
}

#treemap_plus_container svg {
    display: block;
    margin: 0 auto;
}