#treemap_plus {
    /*width:700px;*/
    width:50%;
    height:600px;
    padding-top:15px;
    display:inline-block;
}

#treemap_plus_container {
    width:850px;
    height:500px;
    display: inline-block;
    margin: 0 auto;
}

#treemap_plus_container svg {
    /*width:100%;*/
    display: block;
    margin: 0 auto;
}